<div class="bg-gray-900">
  <div class="relative isolate overflow-hidden pt-14">
    <!-- <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2830&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply" alt="" class="absolute inset-0 -z-10 size-full object-cover"> -->
    <%= image_tag('landing.png', class: 'absolute inset-0 -z-10 size-full object-cover contrast-200 opacity-[.1]') %>
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
         
        </div>
        <div class="text-center">
          <h1 class="text-7xl md:text-8xl font-semibold tracking-tight text-balance text-white ">Garderobă profesională</h1>
          <p class="mt-8 text-lg font-medium text-pretty text-white sm:text-xl/8">Adaptabilă oricărui tip de eveniment.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <!-- <a href="#" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">Get started</a>
            <a href="#" class="text-sm/6 font-semibold text-white">Learn more <span aria-hidden="true">→</span></a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
</div>


<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-base/7 font-semibold text-indigo-600">Accelerează pregătirea evenimentului</h2>
    <p class="mt-2 max-w-lg text-4xl font-semibold tracking-tight text-pretty text-gray-950 sm:text-5xl">Îți punem la dispoziție un sistem complet de preluarea a hainelor</p>
    <div class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-2">
      <div class="relative lg:col-span-3">
        <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem] lg:rounded-tl-[2rem]"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)] lg:rounded-tl-[calc(2rem+1px)]">
          <!-- <img class="h-80 object-cover object-left" src="https://tailwindcss.com/plus-assets/img/component-images/bento-01-performance.png" alt=""> -->
          <%= image_tag('IMG_2794.png', class: 'h-80 object-cover object-left') %>
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-indigo-600">Sistemul nostru</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">Garderobă modulară</p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">realizată de către noi. Acest sistem modular & compact
               se adaptează oricărui tip de eveniment. 384 de haine pot fi stocate într-un singur modul de 4.5 m2 (3m x 1.5m x 2.2m înălțime).</p>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 max-lg:rounded-t-[2rem] lg:rounded-tl-[2rem]"></div>
      </div>
      <div class="relative lg:col-span-3">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-tr-[2rem]"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-tr-[calc(2rem+1px)]">
          <!-- <img class="h-80 object-cover object-left lg:object-right" src="https://tailwindcss.com/plus-assets/img/component-images/bento-01-releases.png" alt=""> -->
          <%= image_tag('wardrobe-gallery-002.png', class: 'h-80 object-cover object-left lg:object-right') %>
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-indigo-600">Capacitate de operare mare</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">Sistem conceput pentru mii de iteme</p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">de la 4800 se poate extinde până la 12000 în funcție de necesități. Probabil cel mai flexibil sistem de garderobă pentru evenimente.</p>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 lg:rounded-tr-[2rem]"></div>
      </div>
      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-bl-[2rem]"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-bl-[calc(2rem+1px)]">
          <!-- <img class="h-80 object-cover object-left" src="https://tailwindcss.com/plus-assets/img/component-images/bento-01-speed.png" alt=""> -->
          <%= image_tag('etichete.png', class: 'h-80 object-cover object-left') %>
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-indigo-600">Siguranță</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">Sistem pe bază de etichete</p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">Operăm cu ajutorul unui sistem de etichete
              perechi autoadezive, unice pentru fiecare eveniment în parte, personalizate cu numele evenimentului / organizatorului.</p>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 lg:rounded-bl-[2rem]"></div>
      </div>
      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
          <!-- <img class="h-80 object-cover" src="https://tailwindcss.com/plus-assets/img/component-images/bento-01-integrations.png" alt=""> -->
          <%= image_tag('wardrobe-gallery-005.png', class: 'h-80 object-cover') %>
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-indigo-600">Experiența</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">Peste 14 ani </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">de experiență în acest domeniu și peste 200 de evenimente la care am participat cu succes.</p>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5"></div>
      </div>
      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-br-[2rem]"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-br-[calc(2rem+1px)]">
          <!-- <img class="h-80 object-cover" src="https://tailwindcss.com/plus-assets/img/component-images/bento-01-network.png" alt=""> -->
          <%= image_tag('wardrobe-2.png', class: 'h-80 object-cover') %>
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-indigo-600">Încredere</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">Ne recomandă </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">nume mari din industria evenimentelor și companii private care au apelat la serviciile noastre pentru evenimentele lor private.</p>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-br-[2rem]"></div>
      </div>
    </div>
  </div>
</div>



<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
      <div class="mx-auto w-full max-w-xl lg:mx-0">
        <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">De încredere pentru companii și evenimente majore</h2>
        <p class="mt-6 text-lg/8 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue.</p>
        <div class="mt-8 flex items-center gap-x-6">
          <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create account</a>
          <a href="#" class="text-sm font-semibold text-gray-900">Contact us <span aria-hidden="true">&rarr;</span></a>
        </div>
      </div>
      <div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
        <img class="max-h-12 w-full object-contain object-left" src="https://tailwindcss.com/plus-assets/img/logos/tuple-logo-gray-900.svg" alt="Tuple" width="105" height="48">
        <img class="max-h-12 w-full object-contain object-left" src="https://tailwindcss.com/plus-assets/img/logos/reform-logo-gray-900.svg" alt="Reform" width="104" height="48">
        <img class="max-h-12 w-full object-contain object-left" src="https://tailwindcss.com/plus-assets/img/logos/savvycal-logo-gray-900.svg" alt="SavvyCal" width="140" height="48">
        <img class="max-h-12 w-full object-contain object-left" src="https://tailwindcss.com/plus-assets/img/logos/laravel-logo-gray-900.svg" alt="Laravel" width="136" height="48">
        <img class="max-h-12 w-full object-contain object-left" src="https://tailwindcss.com/plus-assets/img/logos/transistor-logo-gray-900.svg" alt="Transistor" width="158" height="48">
        <img class="max-h-12 w-full object-contain object-left" src="https://tailwindcss.com/plus-assets/img/logos/statamic-logo-gray-900.svg" alt="Statamic" width="147" height="48">
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 py-24 sm:py-32">
  <div>
    <img class="object-cover object-center w-full h-80 max-w-full rounded-lg"
      src="https://images.unsplash.com/photo-1499696010180-025ef6e1a8f9?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80"
      alt="gallery-photo" />
  </div>
  <div>
    <img class="object-cover object-center w-full h-80 max-w-full rounded-lg"
      src="https://images.unsplash.com/photo-1432462770865-65b70566d673?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80"
      alt="gallery-photo" />
  </div>
  <div>
    <img class="object-cover object-center w-full h-80 max-w-full rounded-lg"
      src="https://images.unsplash.com/photo-1497436072909-60f360e1d4b1?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2560&amp;q=80"
      alt="gallery-photo" />
  </div>
  <div>
    <img class="object-cover object-center w-full h-80 max-w-full rounded-lg"
      src="https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2940&amp;q=80"
      alt="gallery-photo" />
  </div>
  <div>
    <img class="object-cover object-center w-full h-80 max-w-full rounded-lg"
      src="https://images.unsplash.com/photo-1518623489648-a173ef7824f3?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2762&amp;q=80"
      alt="gallery-photo" />
  </div>
  <div>
    <img class="object-cover object-center w-full h-80 max-w-full rounded-lg"
      src="https://images.unsplash.com/photo-1682407186023-12c70a4a35e0?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2832&amp;q=80"
      alt="gallery-photo" />
  </div>
  <div>
    <img class="object-cover object-center w-full h-80 max-w-full rounded-lg"
      src="https://demos.creative-tim.com/material-kit-pro/assets/img/examples/blog5.jpg" alt="gallery-photo" />
  </div>
  <div>
    <img class="object-cover object-center w-full h-80 max-w-full rounded-lg"
      src="https://material-taillwind-pro-ct-tailwind-team.vercel.app/img/content2.jpg" alt="gallery-photo" />
  </div>
  <div>
    <img class="object-cover object-center w-full h-80 max-w-full rounded-lg"
      src="https://images.unsplash.com/photo-1620064916958-605375619af8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1493&amp;q=80"
      alt="gallery-photo" />
  </div>
</div>
